apiVersion: portal.gloo.solo.io/v1beta1
kind: Group
metadata:
  name: users
spec:
  displayName: corporate users
  accessLevel:
    portals:
    - name: ecommerce-portal
      namespace: [[ petstore_namespace ]]
  oidcGroup:
    groupName: users 