#jinja2: lstrip_blocks: "True"
apiVersion: portal.gloo.solo.io/v1beta1
kind: Portal
metadata:
  name: ecommerce-portal
spec:
  displayName: E-commerce Portal
  description: The Gloo Portal for the Petstore API and much more!
  banner:
    fetchUrl: https://i.imgur.com/EXbBN1a.jpg
  favicon:
    fetchUrl: https://i.imgur.com/QQwlQG3.png
  primaryLogo:
    fetchUrl: https://i.imgur.com/hjgPMNP.png
  customStyling: {}
  staticPages: []

  domains:
  - [[ petstore_portal_url ]]

  publishedEnvironments:
  - name: dev
    namespace: [[ petstore_namespace ]]

  allApisPublicViewable: true # this will make APIs visible by unauthenticated users

  {% if portal_auth_enabled %}
  # ------------------- Authentication  ---------------------
  oidcAuth:
    clientId: [[ keycloak_client_id ]]
    clientSecret:
      name: [[ portal_keycloak_auth_secret_name ]]
      namespace: [[ petstore_namespace ]]
      key: client_secret
    groupClaimKey: group
    issuer: [[ keycloak_admin_url ]]/realms/master
  portalUrlPrefix: http://[[ petstore_portal_url ]]/
  # ---------------------------------------------
  {% endif %}