
gcp_create_vpc: yes

gloo_edge:
  cluster1:
    cloud: gcp
    k8s_context: gke
    install_portal: yes
  cluster2:
    cloud: civo
    k8s_context: civo
    install_portal: no
  # cluster2:
  #   cloud: aws
  #   k8s_context: eks
  #   install_portal: no

# CIVO
civo_api_key: <civo-api-key>

# GCP 
gke_cluster_name: kameshs-gloo-demos
gcp_cred_file: "{{ lookup('env','GOOGLE_APPLICATION_CREDENTIALS') }}"
gcp_project: <gcp project to use>
gcp_region: <gcp region>
# just a single node cluster
gke_cluster_location: <gcp zone>

# AWS
aws_access_key_id: <aws access key>
aws_secret_access_key: <aws secret access key>
aws_region: <aws region >

# Keycloak
keycloak_admin_user: admin
keycloak_admin_password: "{{ lookup('file',playbook_dir+'/.password_file') }}"

