#jinja2: lstrip_blocks: "True"
apiVersion: v1
clusters:
- cluster:
    server: [[ stack_outputs.ClusterEndpoint ]]
    certificate-authority-data: [[ stack_outputs.CertificateAuthorityData ]]
  name: eks_[[ eks_cluster_name ]]
contexts:
- context:
    cluster: eks_[[ eks_cluster_name ]]
    user: eks
  name: eks
current-context: eks
kind: Config
preferences: {}
users:
- name: eks
  user:
    exec:
      apiVersion: client.authentication.k8s.io/v1alpha1
      command: aws-iam-authenticator
      args:
        - "token"
        - "-i"
        - "[[ stack_outputs.ClusterName]]"