#jinja2: lstrip_blocks: "True"
apiVersion: v1
clusters:
- cluster:
    server: [[ gke_master_endpoint ]]
    certificate-authority-data: [[ gke_master_ca ]]
  name: gke_[[ gke_cluster_name ]]
contexts:
- context:
    cluster: gke_[[ gke_cluster_name ]]
    user: gke
  name: gke
current-context: gke
kind: Config
preferences: {}
users:
- name: gke
  user:
    auth-provider:
      config:
        access-token: [[ gke_access_token ]]
        cmd-args: config config-helper --format=json
        cmd-path: gcloud
        expiry: [[ token_expiry ]]
        expiry-key: '{.credential.token_expiry}'
        token-key: '{.credential.access_token}'
      name: gcp
